html {
				background-image: linear-gradient(to bottom, #3a7ab9, #2b5b87, #3a7ab9)
}
hr {
				border:4px solid #eada48;
				border-radius:15px;
}
p {
				padding:15px;
				border:6px solid #eada48;
				border-radius:15px;
				color:#eada48;
				background-color:#bdb76b;
}
h1 {
				border:6px solid #eada48;
				border-radius:15px;
				color:#eada48;
				background-color:#bdb76b;
}
h2 {
				border:6px solid #eada48;
				border-radius:15px;
				color:#eada48;
				background-color: #bdb76b;
}
ul {
				border:6px solid #eada48;
				border-radius:15px;
				color:#eada48;
				background-color:#bdb76b;
}